.wheelWrapper {
	background-color: #b9b9b9;
	height: 270px;
	width: 80%;
	margin:  auto;
    
}

.wheelOuter {
	height: 100%;
	background-color: white;
	width: 270px;
	margin: auto;
	border-radius: 100%;
}

.wheelInner {
	width: 110px;
	height: 110px;
	background-color: #b9b9b9;
	border-radius: 100%;
	margin-left: 80px;
	margin-top: 80px;
	position: absolute;
}

.topLastRowWheel {
	display: flex;
	height: 80px;
	/* background-color: green; */
	justify-content: center;
	align-items: center;
}

.middleRowWheel {
	display: flex;
	padding: 0px 15px;
	height: 110px;
	justify-content: space-between;
	align-items: center;
}

.iconsWrapperWheel {
	/* background-color: black; */
	/* border: 1px solid black; */
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: 750;
}

.iconsWrapperWheel img {
	width: 100%;
	/* height: 100%; */
	text-align: center;
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(18deg);
	transform: rotate(180deg);
}
